<!DOCTYPE html>
<html>
<head>
<title>Shark Chasers</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='tabicon.png') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button">SHARK CHASERS</a> 
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-youtube-play" style="font-size:48;color:red"></i> YouTube</a>
      <a href="about" class="w3-bar-item w3-button">About</a>
      <a href="sharkfiles" class="w3-bar-item w3-button">Shark-Files</a>
      <a href="map" class="w3-bar-item w3-button">Map</a>
    </div>
  </div>
</div>

<div style="width: 1920px; height: 100px; background-color: #FFFFFF;"></div>

<div class="w3-content" style="max-width:1920px; position: relative;">

<div class="section left">
    <h2>Welcome to Shark Chasers</h2>
    <p>Join me on a thrilling global quest to encounter and document the incredible diversity of sharks in their natural habitats. 
    This isn't just a project; it's my personal journey, driven by a passion for exploration and a fascination with the wonders 
    beneath the waves.</p>

    <h2>Embark on the Adventure</h2>
    <p>At Shark Chasers, every dive is an adrenaline-fueled exploration into the unknown. 
    Armed with a list of 30 shark species from the 2001 Sharks edition of Top Trumps, I traverse the globe, 
    seeking out these majestic creatures 
    and sharing the sheer joy and excitement of the underwater world.</p>
    <p>This project is more than just ticking off a checklist; it's a personal odyssey fueled by curiosity 
    and the desire to experience the extraordinary. From the silent depths to the vibrant coral reefs, 
    each dive is a chapter in the ongoing adventure of Shark Chasers.</p>
    
    <h2>The Dive Videos</h2>
    <p>Immerse yourself in the heart-pounding moments as I come face to face with sharks from around the world. 
    The videos diaries shown in this site show not only the raw beauty of these creatures but also the thrill of the chase and the unique 
    environments they call home.</p>
</div>



<div class="section right">
    <h2>Join the Journey</h2>
    <p>Whether you're an avid scuba diver, a shark enthusiast, or someone who simply loves a good adventure, 
    Shark Chasers invites you to be part of the expedition. 
    Follow along as we embark on daring encounters, share unforgettable moments, and revel in the sheer joy of exploration.
    It's about the thrill of discovery and the pursuit of a passion.</p> 
    <p>So Come on board, and let's dive into the excitement together!</p>
</div>
  
</div>

</body>

</html> 