<!DOCTYPE html>
<html>
<head>
<title>Shark Chasers</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='tabicon.png') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button">SHARK CHASERS</a> 
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-youtube-play" style="font-size:48;color:red"></i> YouTube</a>
      <a href="about" class="w3-bar-item w3-button">About</a>
      <a href="sharkfiles" class="w3-bar-item w3-button">Shark-Files</a>
      <a href="map" class="w3-bar-item w3-button">Map</a>
    </div>
  </div>
</div>

<div class="w3-display-container w3-wide" id="about">

  <div class="section left">
      <h2>About Shark Chasers</h2>
      <p>Join me on a thrilling global quest to encounter and document the incredible diversity of sharks in their natural habitats. 
      This isn't just a project; it's my personal journey, driven by a passion for exploration and a fascination with the wonders 
      beneath the waves.</p>

      <p>At Shark Chasers, every dive is an adrenaline-fueled exploration into the unknown. 
      Armed with a list of 30 shark species from the 2001 Sharks edition of Top Trumps, I traverse the globe, 
      seeking out these majestic creatures 
      
      and sharing the sheer joy and excitement of the underwater world.</p>
      <p>This project is more than just ticking off a checklist; it's a personal odyssey fueled by curiosity 
      and the desire to experience the extraordinary. From the silent depths to the vibrant coral reefs, 
      each dive is a chapter in the ongoing adventure of Shark Chasers.</p>
      
      <h2>The Proof is in the Pudding</h2>
      <p>Immerse yourself in the heart-pounding moments as I come face to face with sharks from around the world. 
      The videos diaries shown in this site show not only the raw beauty of these creatures but also the thrill of the chase and the unique 
      environments they call home.</p>
      
      <h2>Join the Journey</h2>
      <p>Whether you're an avid scuba diver, a shark enthusiast, or someone who simply loves a good adventure, 
      Shark Chasers invites you to be part of the expedition. 
      Follow along as we embark on daring encounters, share unforgettable moments, and revel in the sheer joy of exploration.
      It's about the thrill of discovery and the pursuit of a passion.</p> 
      <p>So Come on board, and let's dive into the excitement together!</p>
      
      <div class="floating-image">
        <img src="https://github.com/SpaceMeerkat/sharkchasers/blob/main/static/deck.jpg?raw=true" alt="Floating Image" width="300">
    </div>
      
  </div>
  
  <div class="section right">
      <h2>About me</h2>
      <p> My name is James, and welcome to Shark Chasers – a project that stems from my very first encounter with 
      sharks while scuba diving in 2023. 
      The fascination I've harbored for these creatures took a thrilling turn, leading me to ponder, 
      "What if I made a game out of seeing as many sharks as possible before I leave this world?"</p>

      <p>Inspired by the Sharks Top Trumps deck, I turned this idea into a personal bucket list of shark encounters. 
      While the official quest is ongoing, the excitement for the adventures awaiting me is palpable. 
      The goal is clear: to witness, experience, and document the diverse array of sharks that roam our oceans.</p>
      
      <p>Scuba diving alongside these majestic creatures has not only fueled my curiosity but also deepened my appreciation 
      for the vast underwater world. It's a profound realization that, despite the all-encompassing nature of our lives on land, 
      there's so much more to explore beneath the waves.</p>
      
      <p>Through Shark Chasers, I invite you to join me on this incredible journey beyond the familiar and into the depths of the ocean. 
      Beyond the thrill of shark encounters, this project is a testament to the beauty and grace of wild sharks. 
      While there's a hope for ecological and conservation impact, my primary focus is on showcasing the incredible and special 
      nature of each shark encounter.</p>
      
      <p>Expect regular updates featuring videos, travel insights, and firsthand accounts of diving adventures. 
      As I explore the marine-rich waters surrounding South Africa in the next few months, each dive promises not 
      only to bring sharks to the forefront but to immerse you in the unparalleled beauty of the world beneath the waves.</p>
  </div>
  
</div>

<!--
<img class="w3-image" src="https://github.com/SpaceMeerkat/sharkchasers/blob/main/static/deck.jpg?raw=true" width="300">
-->


</div>

</body>

</html> 